.close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: var(--primary);
  opacity: 1;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 4rem 1rem;
}

.modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  .modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
