<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <fa-icon [icon]="faTimes"></fa-icon>
        </span>
      </button>
      <div class="modal-body text-center">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-8">
                      <!-- Portfolio Modal - Title-->
                      <h2 class="modal-title text-secondary text-uppercase mb-0" [id]="this.id + 'Label'">{{this.title}}</h2>
                      <!-- Icon Divider-->
                      <cvd-divider color="var(--secondary)"></cvd-divider>
                      <!-- Portfolio Modal - Image-->
                      <img class="img-fluid rounded mb-5 col-6" [src]="this.img_src" alt="">
                      <!-- Portfolio Modal - Text-->
                      <ng-content></ng-content>
                      <button class="btn btn-primary" data-dismiss="modal">
                        <fa-icon [icon]="faTimes"></fa-icon>
                        Close Window
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
