:host {
  height: fit-content;
  width: fit-content;
}

.circle {
  border-radius: 50%;
}

.card {
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
  background-color: inherit;
}

.caption {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color:var(--primary);
}

.caption:hover {
  opacity: 90%;
}

.caption-content {
  font-size: 4rem !important;
}

.caption-content:hover {
  opacity: 100%;
}
