<h2 class="page-section-heading text-center text-uppercase mb-0">About Me</h2>
<cvd-divider color="white"></cvd-divider>
<div class="container">
    <!-- About Section Content-->
    <div class="row">
        <div class="col-lg-4 ml-auto"><p class="lead">Professionally I am a challenge-driven and forward-looking Software Developer with more than 10 years' international experience in web development, embedded systems and robotics. Recognized for good communication skills and designing imaginative solutions that match clients needs. Motivated to work on global scale projects for IT leaders.</p></div>
        <div class="col-lg-4 mr-auto"><p class="lead">From a personal point of view I love swimming, snowboarding and travelling, from which I take the prime material to fulfill my creative side editing videos of all those experiences. I am also a passionate of robotics during my free time, where I build my own prototypes in company of my brother in order to compete against the best builders of Spain</p></div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
          <fa-icon [icon]="faDownload"></fa-icon>
          Download PDF Version of my CV
        </a>
    </div>
</div>
