<header class="masthead bg-primary text-white text-center">
  <div class="d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <div class="masthead-avatar-container bg-secondary"><img class="masthead-avatar" src="assets/img/avatar.svg" alt=""></div>

      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">Daniel Julian Aguilar</h1>
      <!-- Icon Divider-->
      <cvd-divider color="white"></cvd-divider>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading mb-0">Fullstack Software Engineer - Scrum Master</p>
  </div>
</header>
