<nav #topNav
  cvdTopnav
  id="top-navbar"
  class="navbar navbar-expand-lg navbar-light bg-secondary text-uppercase fixed-top"
  [class]="this.currentSection === this.first_item_id ? 'max' : 'min'"
>
  <div class="container">
    <a class="navbar-brand" [href]="'#' + this.first_item_id" (click)="collapse(navbarCollapse, navbarButton)">{{this.name}}</a>
    <button #navbarButton class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold text-white rounded bg-primary"
      type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div #navbarCollapse class="collapse navbar-collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto navbar-nav-scroll" style="max-height: calc(100vh - 50px);">
        <li *ngFor="let navItem of this.navItems" class="nav-item">
          <a class="nav-link py-3 px-0 px-lg-3 rounded"
            [class]="this.currentSection === navItem.id ? 'active' : ''"
            [href]="'#' + navItem.id"
            (click)="collapse(navbarCollapse, navbarButton)"
          >{{navItem.name}}</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
<div class="main-content" scrollSpy [spiedTags]="this.tagNames" (sectionChange)="onSectionChange($event)">
  <ng-template sectionsHost></ng-template>
</div>
