<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Curriculum Vitae</h2>
<cvd-divider color="var(--secondary)"></cvd-divider>
<div class="container d-flex flex-row flex-wrap justify-content-around">
  <cvd-cv-card class="card col-md-4 col-lg-3 mb-5" src="assets/img/work.png" style="background-color: lightblue;"></cvd-cv-card>
  <cvd-cv-card class="card col-md-4 col-lg-3 mb-5" src="assets/img/education.png" style="background-color: lightsalmon;"></cvd-cv-card>
  <cvd-cv-card class="card col-md-4 col-lg-3 mb-5" src="assets/img/skills.png" [makeRound]="true" style="background-color: darkseagreen;"></cvd-cv-card>
  <cvd-cv-card class="card col-md-4 col-lg-3 mb-5" src="assets/img/certificate.png" style="background-color: darkgray;"></cvd-cv-card>
  <cvd-cv-card class="card col-md-4 col-lg-3 mb-5" src="assets/img/travel.png" style="background-color: darkslateblue;"></cvd-cv-card>
</div>
