:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #1abc9c;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #1abc9c;
  --primary-b: #148f77;
  --secondary: #2c3e50;
  --secondary-b: #212529;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: var(--font-family-sans-serif);
}

/* You can add global styles to this file, and also import other style files */
.bg-primary {
  background-color: var(--primary) !important;
}

a.bg-primary.bg-primary:focus,
a.bg-primary.bg-primary:hover,
button.bg-primary.bg-primary:focus,
button.bg-primary.bg-primary:hover {
  background-color: var(--primary-b) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

.text-secondary {
  color: var(--secondary) !important;
}

.btn-primary {
  color: white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(60 198 171 / 50%);
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
  color: white;
  background-color: #159a80;
  border-color: var(--primary-b);
}

.btn-primary:focus,
.btn-primary.focus
{
  box-shadow: 0 0 0 0.2rem rgb(60 198 171 / 50%);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: white;
  background-color: var(--primary-b);
  border-color: #12846e;
}

.page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
  }
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
